* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(233, 230, 230);
  overflow: auto;
}

.my-custom-scrollbar {
  position: relative;
  height: 486px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table-itens {
  height: 63vh;
  overflow: hidden;
}
